{{ partial "default_head.html" . }}

<div class="row">
    <div class="col-md-8">
        <div class="posts">
            {{ range first 10 (where .Data.Pages "Type" "post") }}
            {{ .Render "li" }}
            {{ end }}
            <nav>
                <ul class="pager">
                    <li><a href="{{ .Site.BaseUrl }}/post">All Posts</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="col-md-4">
        {{ partial "sidebar.html" . }}
    </div>
</div>

{{ partial "default_foot.html" . }}
