{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pager">

    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">Previous</a></li>
    {{ else }}
    <li class="disabled"><a href="#">Previous</a></li>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <li><a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Next</a></li>
    {{ else }}
    <li class="disabled"><a href="#">Next</a></li>
    {{ end }}

  </ul>
</nav>
{{ end }}

