
<aside>
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Recent Posts</h2>
                </div>
                <div class="list-group">
                    {{range first 10 .Site.Pages}}
                    <a href="{{.RelPermalink}}" class="list-group-item">{{ .Title }}</a>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Tags</h2>
                </div>
                <div class="list-group">
                    {{ $baseurl := .Site.BaseURL }}
                    {{ range $name, $value := .Site.Taxonomies.tags }}
                    <!--a href="{{ $baseurl }}/tags/{{ $name | urlize }}" style="font-size: {{ add 8 (mul 3 $value.Count) }}px;"-->
                    <a href="{{ $baseurl }}/tags/{{ $name | urlize }}" class="list-group-item">
                        <span class="badge">{{ .Count }}</span>
                        {{ $name }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>
</aside>
