
<aside class="site">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">LatestPosts</h2>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </div>

  {{ range $key, $value := .Site.Taxonomies }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{ $key | singularize }}</h2>
    </div>
    <div class="list-group">
      {{ range first 10 $value.ByCount }}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
  {{ end }}

</aside>

